.custom-background{
    background-image: url(../images/moviereel.jpg);
    height:100vh;
    background-size: cover;
    background-position: center;
}

.custom-nav:hover{

    background-color: #ee3d3d !important;
    color: #fff !important;
    
}

.custom-active {
    color: #fff !important;
    background-color: #ee3d3d !important;
}