<!DOCTYPE html>
<html lang="en">

  <style>
    .asteriskField {
      display: none;
  }
  </style>

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}?version=1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}?version=1">
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <title>{% block title %}My Site{% endblock %}</title>
  </head>
  
  <body class="custom-background">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <div>
          <ul class="navbar-nav nav-pills">

                <li class="nav-item me-2">
                    <a class="nav-link custom-nav {% if request.resolver_match.url_name == 'home' %} custom-active {% endif %}" href="/home">Home</a>
                </li>

                <li class="nav-item me-2">
                    <a class="nav-link custom-nav {% if request.resolver_match.url_name == 'create_post' %} custom-active {% endif %}" href="/create-post">Post</a>
                </li>

                <li class="nav-item me-2">
                    <a class="nav-link custom-nav {% if request.resolver_match.url_name == 'movieRec' %} custom-active {% endif %}" href="/survey">Movie Recommendor</a>
                </li>

            </ul>
        </div>
        <div>
            <ul class="navbar-nav nav-pills">
                {% if user.is_authenticated %}
                <span class="navbar-text">Logged in as {{user.username}}</span>
                <span class="navbar-text ms-3 me-2"> | </span>
                  <li class="nav-item">
                      <a class="nav-link custom-nav" href="/logout">Logout</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                      <a class="nav-link custom-nav" href="/login">Login</a>
                  </li>
                {% endif %}
            </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      
      {% block content %} 
      <img class="bg-img" src= "{% static "images/moviereel.jpg" %}">
      

      {% endblock %}
      
    </div>
    
  </body>
</html>