{% extends 'base.html' %} {% block title %}Survey Page{% endblock %} 

{% load crispy_forms_tags %}

{% block content %}

<form method="post">
  {% csrf_token %}


  <div class="card mt-4 text-white bg-dark border-secondary">
    <div class="card-header border-secondary">
      <h4>Movie Recommendor</h4>
    </div>
    <div class="card-body">
      <div class="lead">
        <div class="form-row">
          <div class="form-group">
            {{ form.QUESTIONONE|as_crispy_field }}
          </div>
          <div class="form-group">
            {{ form.PERSON_CHOICE|as_crispy_field }}
          </div>
          <div class="form-group">
            {{ form.QUESTIONTWO|as_crispy_field }}
          </div>
          <div class="form-group">
            {{ form.QUESTIONTHREE|as_crispy_field }}
          </div>
          <div class="form-group">
            {{ form.QUESTIONFOUR|as_crispy_field }}
          </div>
          <div class="form-group">
            {{ form.QUESTIONFIVE|as_crispy_field }}
          </div>
          <div class="form-group">
            {{ form.QUESTIONSIX|as_crispy_field }}
          </div>
        </div>
      
        <button type="submit" class="btn btn-success mt-3">Submit</button>
      </div>
    </div>
  </div>

  
</form>



{% endblock %}