{% extends 'base.html' %} {% block title %}Login{% endblock %} 
{% load crispy_forms_tags %} {% block content %}
<form method="post">
  {% csrf_token %}


  <div class="card mt-4 text-white bg-dark border-secondary">
    <div class="card-header border-secondary">
      <h4>Login</h4>
    </div>
    <div class="card-body">
      <div class="lead">
        {{ form.username|as_crispy_field }}
      
        {{ form.password|as_crispy_field }}

        <p class="mt-2">Don't have an account? Create one <a href="/sign-up">Here</a>!</p>
        <button type="submit" class="btn btn-success">Login</button>
      </div>
    </div>
  </div>

  
</form>
{% endblock %}